.topcrops {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  height: 70vh;
}

/* heading */
.topcrops span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.topcrops span:nth-of-type(2) {
  color: var(--green);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.topcrops .swiper {
  overflow: visible !important;
}

.topcrops-slider {
  margin-top: 3rem;
  width: 100%;
}

.topcrops-slider .swiper-slide {
  width: 20rem;
}

.topcrops img {
  width: 23rem;
  height: 12rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

@media screen and (max-width: 480px) {
  .topcrops{
    transform: scale(0.7);
  }
}
